<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Manage Session</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>

	<div class="container" style="border: medium;">
		<h1 style="color: Blue;" align="center">Restaurant Polling System</h1>
		<hr>
		<div>
		<ul>
		<div style="font-size:20px; color: blue;" th:text="${loggedinUser}">
		</div>
		<li><a th:href="@{/}">Home</a></li>
		<li><a th:href="@{/logout}">Logout</a></li>
		</ul>
		</div>
	</div>
	<div align="center" class="container" style="border: medium;margin-top:-50px">
		<div style="font-size: 20px;color: green" th:text="${randomResult}"></div>
		<div style="font-size: 20px; color: red" th:text="${status}"></div>
		<form action="#" th:action="@{/createSession}"
			th:object="${pollsession}" method="POST">

			<div th:if="${isActive == false}">
				<input placeholder ="Please Enter Session Name" type="text" required th:field="*{sessionName}"
					class="form-control mb-4 col-4" />
				<button type="submit" class="btn btn-info col-2">Activate
					Session</button>

			</div>
			<div th:if="${isActive == true && isSessionUser == true}">
				<input type="text" required th:field="*{sessionName}"
					class="form-control mb-4 col-4" readonly />
				<button type="submit" class="btn btn-info col-2">
					<a style="color: white" th:href="@{/deactivateSession}" />
					Deactivate Session
				</button>
			</div>

		</form>
		<hr>
	</div>
</body>
</html>
